<nav>
  <ul class="nav-tabs" role="tablist">
    <li><%= link_to 'Concerts', concerts_path, method: :get %></li>
    <li class="active"><%= logged_in? ? link_to('Logout', logout_path, method: :delete) : link_to('Signup', new_fan_path, method: :get)%></li>
    <li><%= link_to 'Profile', profile_path, method: :get %></li>
  </ul>
</nav>

<h2>LOGIN BELOW</h2>

<%= form_tag login_path method: :post do %>

  <%= label_tag "Username" %><br>
  <%= text_field_tag :username %><br><br>

  <%= label_tag "Password" %><br>
  <%= password_field_tag :password %><br><br>

  <%= submit_tag "Login" %>

<% end %>
