<h2>Artist: <%= @artist.name %></h2>
<h3>Genre: <%= @artist.genre %></h3>
<h3>Bio: <%= @artist.bio %></h3>

<ul>
<% @concerts.each do |concert| %>
  <% if concert.artist == @artist %>
    <%= concert.date %> 
    <%= concert.venue_name %>
    <%= button_to "Buy Ticket", tickets_path, params: {concert_id: concert.id} %>
   <br><br>
  <% end %>
<% end %>
</ul>

<%= button_to "Back to Artists", artists_path, method: :get %>
