
<h2>Review Your Purchase</h2>


<%= @ticket.concert.artist_name %><br>
<%= @ticket.concert.venue_name %><br>
<%= @ticket.concert.price %><br>
<%= @ticket.concert.date %><br><br>

<%=
button_to "Cancel Purchase",
ticket_path(@ticket),
method: :delete,
data: {confirm: "Are you sure?"},
controller: "concerts",
action: "index"
%>
<br>
<%= button_to "Confirm Purchase", fan_path(@fan), method: :get %>
<br>
<%= link_to "Back To Concerts", concerts_path %>
