<h1>VENUE SHOW PAGE</h1>
<h2><%= @venue.name %></h2>
<h2>Location: <%= @venue.location %></h2>
<h2>Capacity: <%= @venue.capacity %></h2>


<% @concerts.sort_by{|concert| [concert.date]}.each do |concert| %>
  <% if concert.venue == @venue %>
    <%= concert.date.to_formatted_s(:long) %><br>
    <%= concert.artist_name %><br>
    $<%= concert.price %>
    <%= button_to "Buy Ticket", tickets_path, params: {concert_id: concert.id} %><br>
  <% end %>
<% end %>

<%= button_to "Back to Venues", venues_path, method: :get %>
