<nav>
  <ul class="nav-tabs" role="tablist">
    <li class="active"><%= link_to 'Concerts', concerts_path, method: :get %></li>
    <li><%= logged_in? ? link_to('Logout', logout_path, method: :delete) : link_to('Signup', new_fan_path, method: :get)%></li>
    <li><%= link_to 'Profile', profile_path, method: :get %></li>
  </ul>
</nav>

<h2><%= @venue.name %></h2>
<h2>Location: <%= @venue.location %></h2>
<h2>Capacity: <%= @venue.capacity %></h2>
<hr>

<br><br>

<h3>UPCOMING CONCERTS</h3>
<h3>-----------------</h3>


<% @concerts.sort_by{|concert| [concert.date]}.each do |concert| %>
  <% if concert.venue == @venue %>
    <%= concert.date.to_formatted_s(:long) %><br>
    <%= concert.artist_name %><br>
    $<%= concert.price %>
    <div class="button">
      <%= button_to "Buy Ticket", tickets_path, params: {concert_id: concert.id} %>
    </div>
  <% end %>
<% end %>

<button class="button">
  <%= link_to "Back to Venues", venues_path %>
</button>
