<%= form_for @fan do |f| %>
  <% if @fan.errors.any? %>
    <ul>
      <% @fan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :username %><br>
  <%= f.text_field :username %><br><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br><br>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>

  <%= f.label :drunk %><br>
  <%= f.check_box :drunk %><br><br>

  <%= f.label :balance %><br>
  <%= f.number_field :balance %><br><br>

  <%= f.label :age %><br>
  <%= f.number_field :age %><br><br>

  <%= f.label :favorite_artist %><br>
  <%= f.text_field :favorite_artist %><br><br>

  <%= f.submit %>
<% end %>
