<h2><%= @fan.name %>'s Profile</h2>

  <p>Balance: $<%= @balance %></p>
  <p>Age: <%= @fan.age %></p>
  <p>Favorite Artist: <%= @fan.favorite_artist %></p>

<h3><%= @fan.name %>'s Tickets</h3>

<% if @fan.tickets.count == 0 %>
  <%= "You have no tickets" %>
  <% else %>
  <% @fan.tickets.each do |ticket| %>
    ------------<br>
    <p><%= ticket.concert.artist_name %><p>
    <p>$<%= ticket.concert.price %><p>
    <p><%= ticket.concert.venue_name %><p>
    <p><%= ticket.concert.venue_capacity %><p>

    <%=
    button_to "Delete Ticket",
    ticket_path(ticket),
    method: :delete,
    data: {confirm: "Are you sure?"}
     %>

  <% end %>
<% end %>

<br><br>

<p><%= link_to "Back to concerts", concerts_path %><p>

<%= button_to "Edit Profile", edit_fan_path(@fan), { method: :get} %>

<br><br>

<%= button_to("Remove Profile", fan_path(@fan), { method: :delete }) %>
