
<h1><%= link_to "ARTISTS", artists_path %></h1> ...
<h1><%= link_to "VENUES", venues_path %></h1>
=======

<h2>Concerts Index Page</h2>

<h3><%= flash[:notice] %></h3>

<h4>Your Cart:</h4>
<ol>
  <% @cart_items.each do |item| %>
    <li><%= item.artist_name %> | $<%= item.price %></li>
  <% end %>
</ol>

<hr>

<% @concerts.each do |concert| %>
  <h4><%= concert.artist_name %></h4>
  <ul>
    <li><%= concert.artist_genre %></li>
    <li><%= concert.venue_name %></li>
    <li><%= concert.venue_location %></li>
    <li><%= concert.venue_capacity %></li>
  </ul>
  <%=
  button_to "Buy ticket",
  add_to_cart_path,
  method: :patch,
  params: { concert_id: concert.id,  }
  %>
<% end %>
