<h2>Concert Details</h2>

<ul>
  <li><%= @concert.artist_name %></li>
  <li><%= @concert.artist_genre %></li>
  <li><%= @concert.venue_name %></li>
  <li><%= @concert.venue_capacity %></li>
</ul>

<br><br>
<%= link_to "Back to concerts", concerts_path %>
