<!DOCTYPE html>
<html>
  <head>
    <title>SweetSeat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= logged_in? ? button_to('Logout', logout_path, method: :delete) : button_to('Signup', new_fan_path, method: :get)%>
    <%= button_to 'Concerts', concerts_path, method: :get %>
    <%= button_to 'Profile', profile_path, method: :get %>
    <body style="background-color:ghostwhite;text-align:center">
    <font face="arial">

    <hr>

    <%= yield %>

  </body>
</html>
